@import "mixins.scss";
@import "fonts.scss";
@import "variables";
@import "~bootstrap/scss/bootstrap";

body{
    color: $grey;
    font-size: 18px;
    font-weight: normal;
}
h1, h2{
    color: $blue;
}
main{
    section {
        .img-container{
            img{
                max-width: 80%;
            }
        }
    }
}