@import "mixins.scss";
@import "fonts.scss";
@import "variables";
@import "fontawsome";
@import "~bootstrap/scss/bootstrap";

body {
    color: $grey;
    font-size: 18px;
    font-weight: normal;
}

h1,
h2 {
    color: $blue;
}

.color-primary {
    color: $blue;
}

header {
    .icon-wrapper {
        background: $light-blue;
        padding: .5rem 1rem;
        color: $white;
        border-radius: 50%;
    }

    nav {
        background: $light-blue;
        padding: 1rem;
    }
}

main {
    #form-section {
        background: $light-blue;

        .spinner-border {
            width: 1rem;
            height: 1rem;
        }
    }
}